[Desktop Entry]
Name=Qtile
Comment=Qtile Session
Exec=/home/rgregor/.local/bin/qtile start
Type=Application
Keywords=tiling;wm;windowmanager;window;manager;
